@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* import font */

* {
  font-size: 100%;
  font-family: "VT323", monospace;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* set links to one color */

a:link {
  color: lightcoral;
  text-decoration: none;
}
a:visited {
  color: lightcoral;
  text-decoration: none;
}
a:hover {
  color: cornsilk;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

/* main content */

.intro {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 1fr 0.55fr 0.5fr 0.4fr;
  background-image: url("./assets/codingconjuror.png");
  background-size: cover;
  background-position: top;
}

.intro-element {
  text-align: left;
  font-size: 30px;
}

#button-grid {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

#speech-grid {
  color: gold;
  text-shadow: 2px 2px black;
  padding-right: 5px;
  display: flex;
}

img[src*="./assets/wizard-idle-small.gif"] {
  width: 150px;
  display: flex;
}

#conjurer-grid-container {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

#conjurer-flexbox-container {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}

#button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

.button {
  font-size: 30px;
  width: 25%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  color: lightcoral;
  border: 1px solid lightcoral;
  text-shadow: 2px 2px black;
}

.entry {
  width: 100%;
  height: 35%;
  color: lightcoral;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  animation: pulse 5s infinite;
  font-size: 60px;
}

#riddlebox {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  padding: 20px;
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-shadow: 2px 2px black;
  font-style: italic;
}

#riddlebox2 {
  font-weight: bold;
  color: lightcoral;
  font-style: normal;
  text-shadow: 2px 2px black;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes pulse {
  0%,
  100% {
    background-color: #001f3f;
  }
  50% {
    background-color: #ff4136;
  }
}
