@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* import font */

* {
  font-size: 100%;
  font-family: "VT323", monospace;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;

  /* main content */
}

.intro {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.7fr 1fr 3fr 0.7fr;
  grid-template-rows: 2fr 3fr 2.5fr 1fr;
  background-image: url("codingconjuror.png");
  background-size: cover;
  background-position: top;
}

.intro-element {
  text-align: left;
  font-size: 40px;
}

#riddlebox {
  opacity: 0.5;
  background-color: black;
}

#riddlebox p {
  color: white;
  font-weight: bold;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
