@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/*Scrolling function*/
.slide-one,
.slide-two,
.slide-three,
.slide-four,
.slide-five {
  height: 100vh;
  width: 100vw;
}
.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.slide-one {
  background: #efdefe;
}
.slide-two {
  background: #a3f3d3;
}
.slide-three {
  background: #0bbaa0;
}
.slide-four {
  background: #00dfdf;
}
.slide-five {
  background: #34df00;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/*Tarot cards flip function*/
/* The flip box container  */

.tarot-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flip-box {
  
  padding: 15px;
  width: 120px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}