@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  font-size: 100%;
  font-family: "VT323", monospace;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.slide-one,
.slide-two,
.slide-three,
.slide-four,
.slide-five {
  height: 100vh;
  width: 100vw;
}
.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.slide-one {
  background: #efdefe;
}
.slide-two {
  background: #a3f3d3;
}
.slide-three {
  background: #0bbaa0;
}
.slide-four {
  background: #00dfdf;
}
.slide-five {
  background: #34df00;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}

.progress-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.placeholder {
  height: 87vh;
  width: 100vw;
}

.progress {
  width: 100vw;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  text-align: center;
  font-size: 30px;
}
