@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* import font */

* {
  font-size: 100%;
  font-family: "VT323", monospace;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;

  /* main content */
}

.intro {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.7fr 1fr 2fr 0.7fr;
  grid-template-rows: 2fr 3fr 2.5fr 1fr;
  background-image: url("codingconjuror.png");
  background-size: cover;
  background-position: top;
}

.intro-element {
  text-align: left;
  font-size: 30px;
}

#button-container {
  display: flex;
  flex-flow: row nowrap;
}

.button {
  position: absolute;
  left: 0;
  bottom: 0;
}

#riddlebox {
  border-radius: 25 50px;
  padding: 10px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-shadow: 2px 2px black;
  font-style: italic;
}

#riddlebox2 {
  font-weight: bold;
  color: lightcoral;
  font-style: normal;
  text-shadow: 2px 2px black;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
